    <div class="container" style="max-width: 1366px; " >
        <div class="row "style="background-color: fff">
            <div class="col-3" style="margin-left: -15px;" >
                            <link rel="stylesheet" href="./views/Asset/css/giaodien.css">
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                            <div class="accordion" id="accordionExample" >
                            <div class="accordion-item" style="background-color: #114d6b;">
                                <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button"style="background-color: #114d6b; border: none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div style="font-size: 30px; color:#fff" >Quan ly nguoi dung</div>
                                </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body" style="list-style: none;">
                                    <li>
                                    <a href="admin.php?controller=category" style="text-decoration: none; font-size: 22px; color:#fff ">Tất cả danh mục</a> 
                                    </li>
                                    <li>
                                    <a href="admin.php?controller=category&action=insert" style="text-decoration: none;font-size: 22px; color:#fff">Thêm danh mục</a> 
                                    </li>
                                </div>
                                </div>
                            </div>

                            </div>
                            </div>
            <div class="col-9" style="height: 100%;">
            </div>